{% extends "base.html" %}
{% block title %}
О проекте
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header">
    <h3>Типы работ</h3>
  </div>
  <div class="card-body">
    <p>Анализ – работа с запросом или с ДД, где результат — это отсутствие корректировок;</p>
    <p>Новая ДЕ/ Корректировка ДЕ - Создание новой или внесение корректировок в существующую ДЕ;</p>
    <p>Разработка задания на ил/Разработка задания на корректировку ил - Разработка задания для заказа новой или доработки существующей иллюстрации и её приёмка 
      (создание иллюстраций не входит в обязанности технического писателя, этим занимаются иллюстраторы);</p>
    <p>Устранение замечаний - Устранение замечаний по результатам проверки внесения изменений в ДЕ;</p>
    <p>Перевод - Перенос внесенных изменений в английскую версию РЭ;</p>
    <p>Другое – все что невозможно отнести к предыдущим типам работы (отчеты, совещания, простои).</p>
  </div>
</div>
<br>
<div class="card">
  <div class="card-header">
    <h3>В следующих версиях</h3>
  </div>
  <div class="card-body">
    <ul>
      <li>Формирование отчетов за раные периоды</li>
      <li>Фильтры на странице с задачами</li>
      <li>Расчет кооэфициента работника</li>
      <li>Для задач где необходимы номера МД, ил, ДД разработать отдельную форму</li>
      <li>Страница пользователя с инфографикой</li>
      <li>Страница админа</li>
      <li>Подключение пользователей</li>
      <li>Страница со статусами МД</li>
    </ul>
  </div>
</div>
{% endblock %}


